html,
body {
  height: 100%;
  background-color: #002b36;
  color: #fff;
  margin: 0;
}

.table-responsive {
  overflow-x: auto;
  max-width: 100%;
}

.table-responsive table {
  table-layout: fixed;
}

.table-responsive td {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.content {
  min-height: 100%;
  margin-top: -50px;
  padding-top: 70px;
  margin-bottom: -70px;
  padding-bottom: 70px;
}

.modal-dialog a {
  overflow-wrap: break-word;
}

nav {
  background-color: #001b26;
}

div.input-group>select.custom-select {
  flex: 0.1 1 100px;
  background-color: #d1e4eb;
  color: #000;
  border: 1px solid #c1c1c1;
  z-index: 100;
}


div.input-group>input.form-control {
  border: 1px solid #c1c1c1;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.2);
}

#button-submit {
  margin-left: -3px;
  padding-left: 15px;
  box-shadow: none;
}

.nav-item .badge {
  margin-right: 2px;
}

.nav-link.router-link-active {
  color: white;
}

.stats-link {
  color: white;
  text-decoration: none;
}

.footer {
  width: 100%;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #6c757d !important;
}
