body {
  background-color: #002b36;
}

nav {
  background-color: #001b26;
}

.container {
  height: 100vh;
}

div.input-group>select.custom-select {
  flex: 0.1 1 100px;
}

.nav-item .badge {
  margin-right: 2px;
}