    <footer class="footer text-light text-center">
      <p class="text-muted">
      Drag and Drop the Bookmarklet to your bookmark bar for easy access: <a id="bookmarklet" class="badge text-bg-dark" href="">Youtube-DL</a>
      <br/>
      Powered by <a target="_blank" rel="noopener noreferrer" class="text-light" href="{{ ydl_website }}">{{ ydl_name }}</a> version {{ ydl_version }}.
      Code &amp; issues on <a target="_blank" rel="noopener noreferrer" class="text-light" href="https://github.com/nbr23/youtube-dl-server">GitHub</a>.
      </p>
    </footer>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/youtubedl.js"></script>
