    <footer class="footer text-light text-center">
      <p class="text-muted">
      Drag and Drop the Bookmarklet to your bookmark bar for easy access: <a id="bookmarklet" class="btn-sm btn-dark" href="">Youtube-DL</a>
      <br/>
      Powered by <a target="_blank" rel="noopener noreferrer" class="text-light" href="{{ ydl_website }}">{{ ydl_name }}</a> version <a href="#" onclick="ydl_update()" data-toggle="tooltip" data-placement="top" title="Update {{ ydl_name }}" class="text-light">{{ ydl_version }}</a>.
      Code &amp; issues on <a target="_blank" rel="noopener noreferrer" class="text-light" href="https://github.com/nbr23/youtube-dl-server">GitHub</a>.
      </p>
    </footer>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/youtubedl.js"></script>