    <footer class="footer text-light text-center">
      <p class="text-muted">Powered by <a class="text-light" href="https://github.com/blackjack4494/yt-dlc">youtube-dlc</a> version <a href="#" onclick="ydl_update()" data-toggle="tooltip" data-placement="top" title="Update youtube-dl" class="text-light">{{ ydl_version }}</a>.
      Code &amp; issues on <a class="text-light" href="https://github.com/nbr23/youtube-dl-server">GitHub</a>. Forked from <a class="text-light" href="https://github.com/manbearwiz/youtube-dl-server">@manbearwiz</a>.
      </p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/youtubedl.js"></script>

