% include('ydl_server/templates/header.html')

    <div class="content">
      <div class="container d-flex flex-column text-light text-center">
        <div class="flex-grow-1"></div>
        <div class="jumbotron bg-transparent flex-grow-1">
          <h1 class="display-4">youtube-dl</h1>
          <p class="lead">Enter a video url to download the video to the server. Url can be to YouTube or <a class="text-info"
                                                                                                             href="https://rg3.github.io/youtube-dl/supportedsites.html">any
                                                                                                             other supported site</a>. The server will automatically download the highest quality version available.</p>
          <div>
            <div class="input-group">
              <input name="url" type="url" class="form-control" placeholder="URL" aria-label="URL" aria-describedby="button-submit" id="url" autofocus>
              <select class="custom-select" name="format" id="format">
                <optgroup label="Video">
                  <option value="bestvideo">Best Video</option>
                  <option value="mp4">MP4</option>
                  <option value="flv">Flash Video (FLV)</option>
                  <option value="webm">WebM</option>
                  <option value="ogg">Ogg</option>
                  <option value="mkv">Matroska (MKV)</option>
                  <option value="avi">AVI</option>
                </optgroup>
                <optgroup label="Audio">
                  <option value="bestaudio">Best Audio</option>
                  <option value="aac">AAC</option>
                  <option value="flac">FLAC</option>
                  <option value="mp3">MP3</option>
                  <option value="m4a">M4A</option>
                  <option value="opus">Opus</option>
                  <option value="vorbis">Vorbis</option>
                  <option value="wav">WAV</option>
                </optgroup>
                <optgroup label="Metadata only">
                  <option value="metadata">Metadata</option>
                </optgroup>
              </select>
              <div class="input-group-append">
                <button class="btn btn-primary" id="button-submit" onclick="submit_video()">Submit</button>
              </div>
            </div>
          </div>
          <br/>
          <div class="modal fade text-dark" id="metadata_modal" role="dialog" aria-hidden="false" tabindex="-1" aria-labelledby="metadata_title">
            <div class="modal-dialog" id='md_dialog' role="document">
              <div class="modal-content bg-light">
                <div class="modal-header">
                  <h5 class="modal-title" id="metadata_title">Fake Title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-left" id="metadata_body">
                  <p>
                  Title: <b><span id="md_title"></span></b><br/>
                  Uploader: <b><span id="md_uploader"></span></b><br/>
                  Url: <b><a href="" id="md_webpage_url" target="_blank"></a></b><br/>
                  <br/>
                  <span id="md_items_title"></span><br/>
                  <span id="md_items"></span>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div id="message_list">
          </div>
        </div>
      </div>
    </div>
% include('ydl_server/templates/footer.html', ydl_version=ydl_version)
    <script>
      window.setInterval(update_stats, 5000);
      update_stats();
    </script>
  </body>

</html>
