% include('ydl_server/templates/header.html')

    <div class="content">
      <div class="container-fluid d-flex flex-column text-light text-center">
        <div class="container-fluid flex-grow-1">
          <h1 class="display-4">Jobs History</h1>
          <button class="btn btn-dark" onclick="toggle_hide_logs_detail()">Show/Hide logs</button>
          <button class="btn btn-dark" onclick="get_download_logs()">Refresh</button>
          <button class="btn btn-dark" onclick="purge_download_logs()">Purge logs</button>
          <br/>
          <table class="col-md-16 table table-stripped table-md table-dark">
            <thead>
              <tr>
                <th>Last update</th>
                <th>Name</th>
                <th>Format</th>
                <th>Status</th>
                <th>Log</th>
              </tr>
              <tbody id="job_logs">
              </tbody>
            </thead>
          </table>
        </div>
      </div>
    </div>
% include('ydl_server/templates/footer.html', ydl_version=ydl_version)
    <script>
      window.setInterval(update_stats, 5000);
      update_stats();

      window.setInterval(get_download_logs, 5000);
      get_download_logs();
    </script>
  </body>

</html>
