<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="Description" content="Web frontend for yt-dlp" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: #002b36;
      }

      div.input-group > select.form-select {
        flex: 0.1 1 100px;
      }
    </style>

    <title>youtube-dl</title>
  </head>

  <body class="d-flex h-100 text-center text-white">
    <div class="container d-flex w-100 p-3 flex-column">
      <header class="mb-auto"></header>

      <main class="px-3">
        <h1 class="display-4">youtube-dl</h1>
        <p class="lead">
          Enter a video url to download the video to the server. Url can be to
          YouTube or
          <a
            class="text-info"
            href="https://ytdl-org.github.io/youtube-dl/supportedsites.html"
            >any other supported site</a
          >. The server will automatically download the highest quality version
          available.
        </p>
        <form action="/youtube-dl/q" method="POST">
          <input type="hidden" name="ui" value="true" />
          <div class="input-group">
            <input
              name="url"
              type="url"
              class="form-control"
              placeholder="URL"
              aria-label="URL"
              aria-describedby="button-submit"
              autofocus
            />
            <select class="form-select" name="format">
              <optgroup label="Video">
                <option value="bestvideo">Best Video</option>
                <option value="mp4">MP4</option>
                <option value="flv">Flash Video (FLV)</option>
                <option value="webm">WebM</option>
                <option value="ogg">Ogg</option>
                <option value="mkv">Matroska (MKV)</option>
                <option value="avi">AVI</option>
              </optgroup>
              <optgroup label="Audio">
                <option value="bestaudio">Best Audio</option>
                <option value="aac">AAC</option>
                <option value="flac">FLAC</option>
                <option value="mp3">MP3</option>
                <option value="m4a">M4A</option>
                <option value="opus">Opus</option>
                <option value="vorbis">Vorbis</option>
                <option value="wav">WAV</option>
              </optgroup>
            </select>
            <select class="form-select" name="subtitles">
              <option value="no-subtitles">No Subtitles</option>
              <option value="all">All Subtitles</option>
              <option value="all-srt">All Subtitles - SRT format (not compatible with webm)</option>
            </select>
            <button class="btn btn-primary" type="submit" id="button-submit">
              Submit
            </button>
          </div>
        </form>
      </main>
      <footer class="mt-auto text-muted">
        <div id="liveAlertPlaceholder"></div>
        <p>
          Web frontend for
          <a class="text-light" href="https://github.com/yt-dlp/yt-dlp"
            >yt-dlp</a
          >
          v{{ ytdlp_version }}, by
          <a class="text-light" href="https://twitter.com/manbearwiz"
            >@manbearwiz</a
          >.
        </p>
      </footer>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script>
      var alertPlaceholder = document.getElementById('liveAlertPlaceholder');

      const urlParams = new URLSearchParams(window.location.search);
      const added = urlParams.get('added');

      function alert(message, type) {
        var wrapper = document.createElement('div');
        wrapper.innerHTML =
          '<div class="alert alert-' +
          type +
          ' alert-dismissible" role="alert">' +
          message +
          '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>';
        alertPlaceholder.append(wrapper);
      }

      if (added) {
        alert(
          'Successfully added <a href=' +
            added +
            '>one item</a> to the download queue',
          'success',
        );
      }
    </script>
  </body>
</html>
