name: ci

on:
  push:
    branches:
      - 'master'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm,linux/arm64
          push: true
          tags: nbr23/youtube-dl-server:latest,nbr23/youtube-dl-server:youtube-dl
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: |
            YOUTUBE_DL=yt_dlp
          platforms: linux/amd64,linux/arm,linux/arm64
          push: true
          tags: nbr23/youtube-dl-server:yt-dlp
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: |
            ATOMICPARSLEY=1
          platforms: linux/amd64,linux/arm,linux/arm64
          push: true
          tags: nbr23/youtube-dl-server:atomicparsley,nbr23/youtube-dl-server:youtube-dl_atomicparsley
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: |
            ATOMICPARSLEY=1
            YOUTUBE_DL=yt_dlp
          platforms: linux/amd64,linux/arm,linux/arm64
          push: true
          tags: nbr23/youtube-dl-server:yt-dlp_atomicparsley
